<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  
    <form class="form update-blog-form">
      <div class="form-group">
        <label for="update-blog-id">Update Blog:</label>
        <input class= "blog-input" type="text" id="update-blog-id" value = "{{description}}" data-updateblogid={{id}} >
      </div>
        <p>Created by {{user.name}} on {{format_date date_created}}</p>
       <div>
        <button class="btn btn-primary">Update Blog</button>
      </div>
    </form>



    <form class="form comment-form">
    <div class="form-group">
        {{#if comments.length}}
          {{#each comments as |comment|}}
          <div class="dish col-md-5">

            <p>Blog id: {{comment.blog_id}}</p>
            <p>
              <input type="text" id="comment-id-{{comment.id}}" value="{{comment.comment}}" />
            </p>
          </div>
          {{/each}}
        {{/if}}
    </div>
    </form>

    <form class="form new-comment-form">
      <div class="form-group">
        <p>Blog id: {{id}}</p>
        <label for="new-comment-id">Add new Comment:</label>
        <input class= "comment-input" type="text" id="new-comment-id" data-blogid={{id}}>
        <!--<input class= "comment-input" type="text" id="new-comment-id" />-->
      </div>
       <div>
        <button class="btn btn-primary">Add a Comment</button>
      </div>
    </form>


</div>

<script src="/js/blog.js"></script> 
